 <footer class="footer">
        <div class="main-container-footer">
            <div class="information-footer">
                <h1 class="information-footer-h1">Связь с нами</h1>
                <p class="information-footer-contact email">info@oasis-seeds.su</p>
                <p class="information-footer-contact number">+7 (473) 260-23-10</p>
                <p class="information-footer-contact address">Адрес: 394036 Воронеж, ул. Карла Маркса, 114</p>
            </div>
            <div class="logo-footer">
                <img src="resource/resource/logo.png" alt="лого">
            </div>
        </div>
    </footer>